.glyphicon-pencil{
	font-size: large;
}

.invisible{
	invisibility: hidden;
	display: none;
}

.jumbotron {
	background: #96aeba;
	color: white;
}

.well{
	border: 1px solid black;
}

.container{
	width: 75%;
}

.failed{
	color: red;
}